.css-sprite-chicken-biryani
{
background:url('../images/css-sprite-combined.png') 0px -0px;
width:1280px;height:1920px;
display:inline-block;
}

.css-sprite-Desktoppicture
{
background:url('../images/css-sprite-combined.png') -1280px -1027px;
width:670px;height:893px;
display:inline-block;
}

