.container {
    display: grid;
    /* grid-template: repeat(3,100px) / repeat(2,100px); */
    grid-template: repeat(3,100px) / 30% 70%;
    /* grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px; */
    border: 3px solid lightcoral;
    /* justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center; */
    row-gap: 10px;
    column-gap: 10px;
}

.box {
    background-color: tomato;
    /* width: 5rem;
    height: 5rem; */    
}

.box-1 {
    grid-column: 2;
}

/* mobile friendly @media scem  */
@media screen and (min-width:600px){
    .container {
        display: grid;

    }
}