body{
    /* background: url("../images/chicken-biryani.jpg"); */
    background-repeat: no-repeat; /* Repeat, repeat x same image repeats multiple times on a body element */
    background-size: cover; /* covers whole body*/
    background-attachment: fixed; /* background doesn't move */
}

.filters {
    filter: grayscale(70%);
    /* filter: blur(80%); */
}

.icon {
    color: blue;
}